{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
  $(document).ready(function(){
      $('.sidenav').sidenav();
    });
  </script>



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>SLICK</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>








<body>

  <div class="navbar-fixed">
    <nav class="nav-wrapper indigo">
      <div class="container">
        <a href="/" class=" brand-logo">&nbsp;&nbsp;SLiCK </a>
        <a href="/" class="sidenav-trigger" data-target="mobile-links">
          <i class="material-icons"><img src="https://i.imgur.com/auaSiZo.png" style="height: 50px; margin-top: 6px;"></i>
        </a>
        <ul class="right hide-on-med-and-down">
        {% if user.is_superuser %}
          <li><a href="{% url 'home' %}"> Home </a></li>
          <li><a href="{% url 'teams_index' %}"> Teams Index</a></li>
          <li><a href="{% url 'teams_create' %}"> Create Team</a></li>
          <li><a href="{% url 'bets_create' %}"> Add a Bet </a></li>
          <li><a href="/bets"> {{ user.username|upper }}'s Bets </a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% elif user.is_authenticated %}
          <li><a href="{% url 'bets_create' %}"> Add a Bet </a></li>
          <li><a href="/bets"> {{ user.username|upper }}'s Bets </a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
        </ul>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-links">
  {% if user.is_superuser %}
    <li><a href="{% url 'teams_index' %}"> Teams Index</a></li>
    <li><a href="{% url 'teams_create' %}"> Create Team</a></li>
    <li><a href="{% url 'home' %}"> Home </a></li>
    <li><a href="{% url 'bets_create' %}"> Add a Bet </a></li>
    <li><a href="/bets"> {{ user.username|upper }}'s Bets </a></li>
    <li><a href="{% url 'logout' %}">Log Out</a></li>
  {% elif user.is_authenticated %}
    <li><a href="{% url 'home' %}"> Home </a></li>
    <li><a href="{% url 'bets_create' %}"> Add a Bet </a></li>
    <li><a href="/bets"> {{ user.username|upper }}'s Bets </a></li>
    <li><a href="{% url 'logout' %}">Log Out</a></li>
  {% else %}
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Log In</a></li>
  {% endif %}
  </ul>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>




  <footer class="page-footer indigo">
    <div class="right">All Rights Reserved, &copy; 2022 SLiCK &nbsp;</div>
  </footer>



</body>

</html>
