{% extends 'base.html' %}
{% block content %}

<h1> {{ user.username|upper }}'s Bets</h1>

<div class="main">
{% for bet in bets %}
    <ul class="collapsible popout" >
        <li>
            <div class="collapsible-header"><i class="material-icons"></i>
                <h4><span class="card-title">{{ bet.name|capfirst }}</span></h4>
            </div>
            <div class="collapsible-body">
                <span>Total Score: {{ bet.total_score }}</span>
            </div>
            <div class="collapsible-body">
                <span>Wager: {{ bet.wager }}</span>
            </div>
            <div class="collapsible-body">
                <span> <a href="{% url 'detail' bet.id %}">Click for Details </a> </span>
            </div>
        </li>
    </ul>
</div>
{% endfor %}

{% endblock %}

