{% extends 'base.html' %}
{% block content %}

<h1>Bets Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ bets.name }}</span>
                <p>Wager: {{ bets.wager }}</p>
                <p>Total Score: {{ bets.total_score }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'bets_update' bets.id %}">Edit</a>
                <a href="{% url 'bets_delete' bets.id %}">Delete</a>
                <a href="{% url 'bets' %}">Go Back to User</a>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- Bet's Current Teams -->
<div class="row">
    <div class="col s6">
        <!-- <h3>{{ bets.name }}'s Teams</h3> -->
        <h3>Your Teams </h3>
        {% if bets.teams.count %}
            {% for team in bets.teams.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ team.name }}</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>No Teams</h5>
        {% endif %}
    </div>
    <!-- Bet's Available Teams -->
    <div class="col s6">
        <h3>Available Teams</h3>
        {% if teams.count %}
            {% for team in teams.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            {{ team.name }} <a href="{% url 'teams_delete' bets.id %}">Delete</a>
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_team' bets.id team.id %}" method="post">
                            {% csrf_token %}
                        <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <h5>{{bets.name}} Already Has All teams Available</h5>
        {% endif %}
    </div>
</div>


{% endblock %}